<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Please type your name and password</h1>

    <form method="post" action="/login">
        <div>
            <input type="text" name="nameLog">
        </div>
        <div>
            <input type="password" name="passLog">
        </div>
        <div>
            <button class="btn" type="submit">login</button>
        </div>
    </form>
    <div>
        <a href="/">Home page</a>
    </div>
</body>
</html>